In [74]:
#project goals:
  #Split ['Date'] into two coloumns ['date'],['time'] (Did this in Excel and then re-uploaded, needed to save time. Will continue to work on lerning this in the future)
    #Changed Column names to make easier to remember
    #filter for nunique() dates
    #print(list of unique(['date']),['workout']), grouped
    #value_count() number of times I have done each workout
    #Want to know what time of day I workout most often
   
import pandas as pd
mine=['date','time','workout','dur','exercise','set','weight','reps','dis','sec','notes','wonotes','rpe']#Changed Column names to make easier to remember
df=pd.read_excel(r"C:\Users\aradt\Downloads\strong - strong (1) (1).xlsx",names=mine)#Split the date in excel before uploading to save time
df.drop(['dur','dis','notes','wonotes','rpe'],axis=1,inplace=True)#dropped coloumns I don't want to use
df

,date,time,workout,exercise,set,weight,reps,sec
0,2022-04-15,06:38:59,Legs,Squat (Barbell),1.0,95.0,10.0,0.0
1,2022-04-15,06:38:59,Legs,Squat (Barbell),2.0,105.0,10.0,0.0
2,2022-04-15,06:38:59,Legs,Squat (Barbell),3.0,135.0,10.0,0.0
3,2022-04-15,06:38:59,Legs,Leg Extension (Machine),1.0,40.0,10.0,0.0
4,2022-04-15,06:38:59,Legs,Leg Extension (Machine),2.0,40.0,10.0,0.0
...,...,...,...,...,...,...,...,...
461,2022-07-01,16:33:27,Full Body Workout B,Farmer Walk,2.0,41.0,1.0,0.0
462,2022-07-01,16:33:27,Full Body Workout B,Farmer Walk,3.0,41.0,1.0,0.0
463,2022-07-01,16:33:27,Full Body Workout B,Plank,1.0,0.0,0.0,30.0
464,2022-07-01,16:33:27,Full Body Workout B,Plank,2.0,0.0,0.0,30.0
465,2022-07-01,16:33:27,Full Body Workout B,Plank,3.0,0.0,0.0,30.0

In [17]:
df.dtypes #Checked datatypes

date        datetime64[ns]
time                object
workout             object
exercise            object
set                float64
weight             float64
reps               float64
sec                float64
dtype: object

In [75]:
n=df.date.nunique()
print('Number of unique dates:',n)

Number of unique dates: 24

In [76]:
#print(list of unique(['date']),['workout'])
df2 = df.filter(['date','workout'], axis=1)
grouped = df2.groupby('date')
a = df2[df.time.notnull()].groupby('date')['workout'].unique()
a

date
2022-04-15                        [Legs]
2022-04-18                        [Legs]
2022-04-20                  [Upper Body]
2022-05-03    [Day 1: Chest and Triceps]
2022-05-04                [Day 2:HIFT 1]
2022-05-05      [Day 3: Back and Biceps]
2022-05-06                 [Day 4: HIFT]
2022-05-07    [Day 5: Legs and Sholders]
2022-05-10    [Day 1: Chest and Triceps]
2022-05-17         [Full Body Workout B]
2022-05-19         [Full Body Workout A]
2022-05-24         [Full Body Workout A]
2022-05-27         [Full Body Workout B]
2022-06-03         [Full Body Workout A]
2022-06-06         [Full Body Workout B]
2022-06-12         [Full Body Workout C]
2022-06-18         [Full Body Workout B]
2022-06-19             [Morning Workout]
2022-06-21             [Morning Workout]
2022-06-24         [Full Body Workout A]
2022-06-26         [Full Body Workout B]
2022-06-27       [Early Morning Workout]
2022-06-29       [Early Morning Workout]
2022-07-01         [Full Body Workout B]
Name: workout, dtype: object

In [77]:
 #value_count() number of times I have done each workout

auni=pd.DataFrame(a)
a.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
auni_count=pd.DataFrame(a.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True))
auni_count

                            workout
[Full Body Workout B]             6
[Full Body Workout A]             4
[Legs]                            2
[Day 1: Chest and Triceps]        2
[Morning Workout]                 2
[Early Morning Workout]           2
[Upper Body]                      1
[Day 2:HIFT 1]                    1
[Day 3: Back and Biceps]          1
[Day 4: HIFT]                     1
[Day 5: Legs and Sholders]        1
[Full Body Workout C]             1

In [78]:
 #Want to know what time of day I workout most often
t=df.time.nunique()
print('Number of unique time:',t)

Number of unique time: 25

In [69]:
df3 = df.filter(['date','time'], axis=1)
grouped2 = df3.groupby('date')
b = pd.DataFrame(df3[df.time.notnull()].groupby('date')['time'].unique())
b

                            time
date
2022-04-15            [06:38:59]
2022-04-18            [06:01:25]
2022-04-20            [05:43:10]
2022-05-03            [16:47:49]
2022-05-04            [05:43:07]
2022-05-05            [16:44:29]
2022-05-06            [05:46:00]
2022-05-07            [15:50:08]
2022-05-10            [05:16:53]
2022-05-17            [05:56:09]
2022-05-19            [05:18:33]
2022-05-24            [16:07:14]
2022-05-27            [11:24:30]
2022-06-03            [16:54:03]
2022-06-06            [10:33:29]
2022-06-12            [11:40:12]
2022-06-18            [18:41:17]
2022-06-19            [08:33:58]
2022-06-21            [08:28:24]
2022-06-24            [09:07:32]
2022-06-26            [13:11:08]
2022-06-27  [05:13:05, 06:01:29]
2022-06-29            [05:34:34]
2022-07-01            [16:33:27]

In [79]:
start_time = pd.to_datetime('5:00').time()
end_time = pd.to_datetime('7:00').time()
mask = (df3['time'] > start_time) & (df3['time'] <= end_time)
df = df3.loc[mask]
grouped3 = df.groupby('date')
c = pd.DataFrame(df[df.time.notnull()].groupby('date')['time'].unique())
c_count = list(c.time.value_counts())
print('Number of Early Morning Workouts:',len(c_count))

Number of Early Morning Workouts: 10

In [80]:
start_time2 = pd.to_datetime('7:01').time()
end_time2 = pd.to_datetime('11:59').time()
mask = (df3['time'] > start_time2) & (df3['time'] <= end_time2)
df = df3.loc[mask]
grouped3 = df.groupby('date')
d = pd.DataFrame(df[df.time.notnull()].groupby('date')['time'].unique())
d_count = list(d.time.value_counts())
print('Number of Morning - Midafternoon Workouts:',len(d_count))
d

Number of Morning - Midafternoon Workouts: 6

                  time
date
2022-05-27  [11:24:30]
2022-06-06  [10:33:29]
2022-06-12  [11:40:12]
2022-06-19  [08:33:58]
2022-06-21  [08:28:24]
2022-06-24  [09:07:32]

In [81]:
start_time3 = pd.to_datetime('12:00').time()
end_time3 = pd.to_datetime('20:59').time()
mask = (df3['time'] > start_time3) & (df3['time'] <= end_time3)
df = df3.loc[mask]
grouped3 = df.groupby('date')
e = pd.DataFrame(df[df.time.notnull()].groupby('date')['time'].unique())
e_count = list(e.time.value_counts())
print('Number of Afternoon - Evening Workouts:',len(e_count))
e

Number of Afternoon - Evening Workouts: 8

                  time
date
2022-05-03  [16:47:49]
2022-05-05  [16:44:29]
2022-05-07  [15:50:08]
2022-05-24  [16:07:14]
2022-06-03  [16:54:03]
2022-06-18  [18:41:17]
2022-06-26  [13:11:08]
2022-07-01  [16:33:27]

In [84]:
print('Number of workouts between April and June:',n)
print('Number of Morning Workouts 5AM-7AM:',len(c_count))
print('Number of Mid-Morning workouts 7:01AM-11:59AM:',len(d_count))
print('Number of Afternoon to Evening workouts 12:00PM-8:00PM:',len(e_count))
print('Number of times each workout preformed:')
auni_count

Number of workouts between April and June: 24
Number of Morning Workouts 5AM-7AM: 10
Number of Mid-Morning workouts 7:01AM-11:59AM: 6
Number of Afternoon to Evening workouts 12:00PM-8:00PM: 8
Number of times each workout preformed:

                            workout
[Full Body Workout B]             6
[Full Body Workout A]             4
[Legs]                            2
[Day 1: Chest and Triceps]        2
[Morning Workout]                 2
[Early Morning Workout]           2
[Upper Body]                      1
[Day 2:HIFT 1]                    1
[Day 3: Back and Biceps]          1
[Day 4: HIFT]                     1
[Day 5: Legs and Sholders]        1
[Full Body Workout C]             1